%header.bar-title
  %h1.title How did you sleep?
.content
  .content-padded
    %form
      %label
        %h4 Quality of sleep
        %input.quality(placeholder="" type="range" min='1' max='5' value='3')
      %label
        %h4 Did you sleep through the night?
        .toggle
          .toggle-handle
      %label
        %h4 Did you fall asleep quickly?
        .toggle
          .toggle-handle
      %label
        %h4 Did you exercise yesterday?
        .toggle
          .toggle-handle
