%header.bar-title
  %h1.title Sleeper Agent
.content
  .content-padded
    %a.button-main.button-block(href='new.html' data-transition='slide-in') New Entry

    %a.button-block(href='entries.html' data-transition='slide-in') View entries
